desktop.ini

**/*.exe
Sem II/Limbaje Formale si Automate/Laboratoare/lab3/.vscode/settings.json
Sem II/Structuri de Date/*/.vscode/settings.json
Sem II/Limbaje Formale si Automate/Laboratoare/lab4/.vscode/settings.json
