desktop.ini

**/*.exe
Sem II/Limbaje Formale si Automate/Laboratoare/lab3/.vscode/settings.json
Sem II/Structuri de Date/*/.vscode/settings.json
Sem II/Limbaje Formale si Automate/Laboratoare/lab4/.vscode/settings.json
Sem II/Sport
Sem III/Programare Functionala/tempCodeRunnerFile.hs
Sem III/Programare Functionala/Laborator/lab4/.ghc.environment.x86_64-mingw32-8.10.2
Sem III/Programare Functionala/scratchPaper.hs
