p {
    color: green;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
    color: red;
    text-decoration: underline;
}

h3~p {
    border: 2px solid fuchsia;
}

/* 9 */
h3~p {
    color: rgba(0, 95, 76);
    background: url('http://irinaciocan.ro/tehnici_web/imagini/backgr_pas3.png') fixed;
}

/* 10 */
.c1 {
    background-color: purple;
}

/* 11 */
.c2 {
    font-style: italic;
    background-color: yellow;
    /* 13 */
    text-decoration: line-through;
}

/* 12 */
.c3 {
    text-transform: lowercase;
    background-color: lime;
    /* 13 */
    text-decoration: overline;
    /* se utilizeaza acest stil in paragrafele 3.3 si 3.2 deoarece e decalrat mai tarziu decat c2 */
}


h3.c3 {
    background-color: orange;
    text-transform: uppercase;
}

/* stilurile raman aceleasi chiar daca punem h3.c3 inainte de .c3 */

/* 14 */
.c2.c3 {
    font-style: normal;
    color: rgba(220, 20, 60);
}

/* 15 */
#ex15 {
    color: orange;
    font-weight: bold;
    text-decoration: overline underline;
}

/* 16 */
#abc+p {
    box-shadow: 1px 1px red;
}

/* 17 */
#abc>p {
    box-shadow: 1px 1px green;
    text-shadow: 1px 1px red;
}

/* 18 */
ol {
    list-style: upper-roman;
}

ol>li {
    border: 4px ridge purple;
    border-radius: 16px 16px 0px 0px;
}

/* 19,21 */
p[title]::first-letter {
    font-size: 20px;
}

/* 20 */
p[title="altceva"]:hover {
    background-color: pink;
}

/* 22 */
section p:nth-child(n+3) {
    margin-left: 25px;
}

/* 23 */
body>section:first-of-type {
    border: 10px dashed green;
}

/* 24 */
:first-child::after {
    content: "Primul";
}

/* 25 */
h1::before,
h2::before,
h3::before {
    content: url('http://irinaciocan.ro/imagini/foarte_zambaret.png');
}

/* 26 */
p:not([class]),
p:not([id]) {
    cursor: crosshair;
}

* {
    outline: auto;
}